:root{
    background-color: linen;
    --selected-file-color: cornflowerBlue;
}

#page_form {
    margin: 0.5em;
}

form {
    margin: 0.5em;
}

#meta_form {
    display: block;
}

#file_explorer {
    float: right;
    background-color: burlywood;
    width: 20em;
    max-width: 27%;
    border-radius: 8px;
    border: 2px solid brown;
    padding: 0.5em;
    padding-left: 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#file_explorer li {
    background-color: color-mix(in srgb, burlywood 50%, antiquewhite 40%);
}

#file_explorer li:hover {
    background-color: color-mix(in srgb, burlywood 50%, antiquewhite 100%);
}

#file_explorer button {
    margin-left: 0.5em;
    margin-right: 0;
}

#meta_form_right {
    margin-left: auto;
    margin-right: 0;
    width: fit-content;
    float: right;
    position: relative;
    bottom: 2px;
}

#publish_site_button {
    font-size: 2em;
}

#page_text {
    margin-bottom: 0.5em;
}

.site_editor {
    margin-top: 2em;
    margin-right: 5em;
    width: 100%;
    /*background-color: ghostwhite;*/
}

#page_title {
    margin-left: 0.5em;
}

#editor_window {
    margin: auto;
    width: 70%;
    margin-left: 1em;
}

#MDXEditorWindow {
    background-color: white;
}

#output_field {
    font-family: 'Courier New', Courier, monospace;
}