venv/
__pycache__/

*/node_modules/

websites/src/*
websites/dist/*

!websites/src/exampleSite/_includes/
!websites/src/exampleSite/_data/

!websites/src/demoSite/

websites/package-lock.json

websites/data